body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 3rem;
    font-family: monospace;
    background-color: black;
    color: antiquewhite;
}